<!DOCTYPE html>
<html>
<head>
    <title>PharmaCO</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon-pharmaco.png') }}" type="image/x-icon">

</head>
<body>
    <h1><img src="{{ url_for('static', filename='icon-pharmaco.png') }}" alt="PharmaCO Icon"> PharmaCO</h1>
    <div class="preloader">
        <div class="loader"></div>
    </div>
    
    
    <div class="form-container">
        <form method="post" action="/login">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>
            <div class="button-container">
                <input type="submit" value="Login">
                <a href="/register"><button type="button">New User</button></a>
            </div>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </form>
    </div>

    <script>
        window.addEventListener("load", function () {
            const preloader = document.querySelector(".preloader");
            preloader.style.display = "none";
        });
    </script>
    
    
</body>
<footer>
    <div class= "footer">
        <p>&copy; 2023 SHIVAM MAHAJAN. All rights reserved.</p>
    </div>
    
</footer>
</html>





