<!DOCTYPE html>
<html>

<head>
    <title>Pharmacy Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add.css') }}">
    <!-- Add your CSS file for styling -->
</head>

<body>
    <div class="header">
        <h1><img src="{{ url_for('static', filename='icon-pharmaco.png') }}" alt="PharmaCO Icon"> PharmaCO</h1>
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('home') }}"><i class="fa-solid fa-house-medical"></i> Home</a></li>
                <!-- Add your navigation buttons -->
            </ul>
        </nav>
    </div>

    <h2>Remove Users</h2>
    
    <form method="post" action="/remove_user">
        <table>
            <tr>
                <th>Select</th>
                <th>Username</th>
                <!-- Add more user details as needed -->
            </tr>
            {% for user in users %}
            <tr>
                <td><input type="checkbox" name="user_checkbox" value="{{ user.username }}"></td>
                <td>{{ user.username }}</td>
                <!-- Add more user details as needed -->
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Remove Selected Users">
    </form>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

</body>

</html>
